body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #20202b;
    color: whitesmoke;
    margin-bottom: 50px;
    overflow: hidden;
}

.App{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.mens{
    width: 500px;
    max-height: 80vh;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.text-mensagem{
    max-width: 500px
}

.mens::-webkit-scrollbar{
    width: 12px;
}

.mens::-webkit-scrollbar-thumb{
    background-color: #a7ffb6;
    border-radius: 6px;
}

h1{
    font-size: 20px;
    color: #a7ffb6;
    margin-left: 10px;
}

p{
    margin-left: 10px;
}

.perfil{
    display: flex;
}

.Enviar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    height: 40px;
    width: 100vw;
    background-color: #4d6a86;
}

.Enviar-mens{
    background-color: aquamarine;
    margin-left: 5px;
    border: 2px #159b20 solid;
    border-radius: 3px;
}

.Text-input{
    width: 500px;
    border: #6bb8f7 solid 1px;
    background-color: #2a5c85;
    border-radius: 10px;
    padding: 5px;
}

.PerfilImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

[data-anime='left']{
    animation: left .5s ease-out forwards;
}

@keyframes left {
    0%{
        opacity: 0;
        transform: translateX(-22px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.Editor{
    background-color: #a7ffb6;
    border-radius: 20px;
    max-width: 300px;
    min-width: 250px;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    color: steelblue;
    overflow-x: hidden;
}

.Editar{
    position: absolute;
    width: 90px;
    top: 40px;
    background: linear-gradient(#029292, #029292);
    border: #2eaf88 solid 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    color: #4bcca5;
    transition: ease all .5s;
}

.Editar:hover{
    width: 120px;
}

.img-editor{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Editor img{
    border-radius: 50%;
    height: 100px;
    transition: all .3s;
}

.Editor img:hover{
    border-radius: 10px;
    cursor: pointer;
}

.center-name{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.buttons-editor{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}

.buttons-editor input{
    margin-top: 10px;
    margin-left: 10px;
    width: 40%;
    height: 70px;
    background: linear-gradient(#029292, #029292);
    border: #04815c solid 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
    color: #62eec4;
    transition: ease all .5s;
}

.buttons-editor input:hover{
    background: linear-gradient(#029292, #00acac);
    cursor: pointer;
    color: #53e4b8;
    width: 45%;
}

.buttons-editor input:nth-child(2){
    margin-top: 10px;
    margin-left: 10px;
    width: 40%;
    height: 70px;
    background: linear-gradient(#ac0b00,#ac0b00);
    border: #ec3030 solid 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
    color: #f86c42;
    transition: all .5s ease;
}

.buttons-editor input:nth-child(2):hover{
    background: linear-gradient(#ac0b00, #b6251a);
    cursor: pointer;
    color: #ff9777;
    width: 45%;
}

.Text-SetName{
    width: 100%;
}

.file{
    display: none;
}

@media (max-width: 700px) {
    .Editor-perfil{
        display: flex;
        align-items: center;
    }

    .Editor{
        bottom: 6px;
        height: 90vh;
        min-width: 95vw;
        left: 10px;
        z-index: 1;
        display: block;
    }
    .Editor img{
    border-radius: 50%;
    height: 50%;
    width: 50%;
    transition: all .3s;
    }
    .Text-SetName{
        width: 60%;
    }

    .center-name{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .buttons-editor{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .buttons-editor input{
        margin-top: 10px;
        margin-left: 10px;
        width: 40%;
        height: 70px;
        background: linear-gradient(#029292, #029292);
        border: #04815c solid 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 700;
        border-radius: 10px;
        color: #62eec4;
        transition: ease all .5s;
    }

    .buttons-editor input:hover{
        background: linear-gradient(#029292, #00acac);
        cursor: pointer;
        color: #53e4b8;
        width: 45%;
    }

    .buttons-editor input:nth-child(2){
        margin-top: 10px;
        margin-left: 10px;
        width: 40%;
        height: 70px;
        background: linear-gradient(#ac0b00,#ac0b00);
        border: #ec3030 solid 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 700;
        border-radius: 10px;
        color: #f86c42;
        transition: all .5s ease;
    }

    .buttons-editor input:nth-child(2):hover{
        background: linear-gradient(#ac0b00, #b6251a);
        cursor: pointer;
        color: #ff9777;
        width: 45%;
    }


    .editor-name{
        font-size: 40px;
        margin-bottom: 0px;
    }
}

@media (max-width: 600px) {
    body{
        overflow: hidden;
    }
    .Editor{
        height: 92vh;
        min-width: 95vw;
        left: 10px;
        z-index: 1;
    }
    .Editor img{
    border-radius: 50%;
    height: 70%;
    width: 70%;
    transition: all .3s;
    }
    .Text-SetName{
        width: 90%;
    }

    .center-name{
        display: flex;
        justify-content: center;
    }

    .editor-name{
        font-size: 40px;
    }

    .center-name{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .buttons-editor{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .buttons-editor input{
        margin-top: 10px;
        margin-left: 10px;
        width: 40%;
        height: 70px;
        background: linear-gradient(#029292, #029292);
        border: #04815c solid 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 700;
        border-radius: 10px;
        color: #62eec4;
        transition: ease all .5s;
    }

    .buttons-editor input:hover{
        background: linear-gradient(#029292, #00acac);
        cursor: pointer;
        color: #53e4b8;
        width: 45%;
    }

    .buttons-editor input:nth-child(2){
        margin-top: 10px;
        margin-left: 10px;
        width: 40%;
        height: 70px;
        background: linear-gradient(#ac0b00,#ac0b00);
        border: #ec3030 solid 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 700;
        border-radius: 10px;
        color: #f86c42;
        transition: all .5s ease;
    }

    .buttons-editor input:nth-child(2):hover{
        background: linear-gradient(#ac0b00, #b6251a);
        cursor: pointer;
        color: #ff9777;
        width: 45%;
    }

    .Text-input{
        width: 65%;
    }

    .Enviar{
        height: 50px;
        width: 115vw;
        bottom: 0px;
    }

    .mens{
        width: 100vw;
        height: 100vh
    }
}